.bpm-button-red{
	background-color: 	#EF3124;
	color: white;
}
.bpm-button-red:active{
	background-color: 	#ec554a;
}

.bpm-button-green{
	background-color: rgb(76, 175, 80);
	color: white;
}
.bpm-button-green:active{
	opacity: 0.7;
}
.bpm-button{
		border:none;
	    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
		margin:10px;
}
.bpm-icon-button{
	margin-left:5px;
	border-left:1px solid rgba(11, 31, 53, 0.12);
}
